<header role="banner">
    <h1><a href="DOSSIER/index.php" title="Bienvenue sur le site - cliquer pour revenir sur la page d'accueil">
	<img src="../DOSSIER/FICHIER.jpg" alt="BANNIERE DU SITE SI NON AFFICHE" title="BANNIERE DU SITE LEGENDE" />
	</a>
    </h1>
</header>