<nav id="nav_principal" role="navigation">
    <ul>
        <li><a href="/" title="" >Accueil</a></li>
        <li><a href="{{ path('testy') }}" title="" >Test simple</a></li>
        <li><a href="{{path('lucky_number')}}" title="" >Tirer un nombre</a></li>
        <li><a href="{{path('accueilBlog')}}" title="" >Blog</a></li>
    </ul>
</nav>