{% extends '::layout.html.twig' %}

{% block content %}
    <h2>Poster un nouvel article</h2>
    {{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
    {{ form_end(formulaire) }}
{% endblock %}


